#double_your_btc_main_container {
  position: relative; }
  #double_your_btc_main_container .back-drop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

button:hover, button:focus, .button:hover, .button:focus {
  color: white;
  outline: none; }

button[disabled]:hover {
  cursor: not-allowed;
  opacity: .5; }

input:focus, textarea:focus, select:focus {
  outline: none; }

.clear {
  clear: both; }

body {
  min-height: 800px; }

.pro-bet-btc {
  background: #ff0 !important;
  color: #000 !important; }

.red-color {
  color: #ed6454;
  font-weight: bold !important; }

.green-color {
  color: #008000;
  font-weight: bold !important; }

.pro-bet {
  position: fixed;
  right: 0;
  top: 55px;
  left: 0;
  width: 870px;
  margin: 0 auto;
  background: #fff;
  min-height: 200px;
  padding: 5px;
  z-index: 100;
  color: #000;
  box-shadow: 0px 1px 15px #555; }
  .pro-bet * {
    margin-bottom: 0 !important;
    list-style: none; }
  .pro-bet .close {
    position: absolute;
    top: 0;
    right: -42px;
    width: 40px; }
  .pro-bet .setting-content {
    position: relative;
    border-bottom: 1px solid #aaa; }
  .pro-bet .controls button {
    line-height: 43px; }
  .pro-bet .game-mode {
    height: 30px;
    margin-bottom: 5px !important; }
    .pro-bet .game-mode .game-mode-list {
      font-size: 0;
      display: inline-block; }
      .pro-bet .game-mode .game-mode-list .mode-item {
        display: inline-block;
        line-height: 30px;
        position: relative;
        background: #ddd;
        border-top: 3px solid #aaa;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        margin-left: 1px; }
        .pro-bet .game-mode .game-mode-list .mode-item.disabled a:hover {
          cursor: not-allowed; }
        .pro-bet .game-mode .game-mode-list .mode-item:first-child {
          margin-left: 0; }
        .pro-bet .game-mode .game-mode-list .mode-item.active {
          border-top-color: #0079c1;
          background: #f5f5f5; }
        .pro-bet .game-mode .game-mode-list .mode-item a {
          display: block;
          font-size: 12px;
          padding: 0 30px;
          font-weight: bold;
          color: #666; }
  .pro-bet .setting-list {
    background: #f6f6f6;
    padding: 5px;
    margin-bottom: 5px !important; }
    .pro-bet .setting-list .setting-item {
      display: inline-block;
      margin-left: 45px; }
      .pro-bet .setting-list .setting-item:first-child {
        margin-left: 0; }
  .pro-bet .button-item {
    display: inline-block;
    width: 50px;
    margin-left: 5px; }
    .pro-bet .button-item:first-child {
      margin-left: 0; }
  .pro-bet .right-content {
    position: relative;
    margin-top: 5px; }
    .pro-bet .right-content .content-head {
      background: #ddd;
      margin-bottom: 5px !important;
      height: 20px; }
      .pro-bet .right-content .content-head .line-item {
        font-weight: bold; }
    .pro-bet .right-content .line-item {
      float: left;
      font-size: 14px;
      line-height: 20px;
      height: 20px;
      font-weight: normal;
      text-align: right;
      width: 100px;
      border-left: 2px solid #fff;
      padding: 0 5px; }
    .pro-bet .right-content .bet-number {
      width: 23px;
      background: #607d8b;
      color: #fff;
      font-size: 12px;
      text-align: center;
      line-height: 20px;
      height: 20px; }
    .pro-bet .right-content .btc-bet {
      color: #ed6454; }
    .pro-bet .right-content .btc-win {
      color: #008000; }
    .pro-bet .right-content .btc-total-win {
      color: #008000; }
    .pro-bet .right-content .timeline-list {
      max-height: 193px;
      overflow: auto; }
      .pro-bet .right-content .timeline-list li {
        position: relative;
        margin-top: 3px !important;
        background: #eee;
        height: 20px; }
        .pro-bet .right-content .timeline-list li:first-child {
          margin-top: 0 !important; }
        .pro-bet .right-content .timeline-list li.unknown-list {
          height: auto !important;
          text-align: center;
          border: 1px solid #ccc;
          margin-top: 10px !important; }
        .pro-bet .right-content .timeline-list li.active {
          /*& + li {
                        .btc-bet,
                        .btc-win {
                            opacity: .8;
                            font-size: 14px;
                            font-weight: bold;
                        }

                        & + li {
                            .btc-bet,
                            .btc-win {
                                opacity: .9;
                                font-size: 13px;
                            }
                        }
                    }*/ }
          .pro-bet .right-content .timeline-list li.active .bet-number {
            font-weight: bold;
            background: #ed6454; }
          .pro-bet .right-content .timeline-list li.active .btc-bet,
          .pro-bet .right-content .timeline-list li.active .btc-win {
            opacity: 1; }
  .pro-bet .row {
    margin-left: -3px !important;
    margin-right: -3px !important;
    width: auto !important; }
    .pro-bet .row .column,
    .pro-bet .row .columns {
      padding-left: 3px !important;
      padding-right: 3px !important; }
  .pro-bet fieldset {
    background: #fff;
    min-width: 0;
    padding: 5px 5px 0 5px;
    margin: 0 0 5px 0 !important;
    border: 1px solid #aaa;
    border-radius: 3px; }
    .pro-bet fieldset legend {
      font-weight: bold;
      padding: 0px;
      margin: 0;
      margin-left: 5px;
      font-size: 14px; }
  .pro-bet label {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    cursor: default; }
    .pro-bet label.title {
      font-weight: bold;
      margin-bottom: 5px !important;
      display: block; }
  .pro-bet span {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px; }
  .pro-bet button {
    width: 100%;
    padding: 0;
    min-height: 35px;
    color: #ccc;
    font-size: 12px;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
    background: #3c4f63;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none; }
    .pro-bet button:hover, .pro-bet button.active, .pro-bet button.active:hover {
      background: #ed6454;
      opacity: 1;
      color: #fff; }
  .pro-bet input[type="text"],
  .pro-bet input[type="password"],
  .pro-bet input[type="date"],
  .pro-bet input[type="datetime"],
  .pro-bet input[type="datetime-local"],
  .pro-bet input[type="month"],
  .pro-bet input[type="week"],
  .pro-bet input[type="email"],
  .pro-bet input[type="number"],
  .pro-bet input[type="search"],
  .pro-bet input[type="tel"],
  .pro-bet input[type="time"],
  .pro-bet input[type="url"],
  .pro-bet textarea {
    font-size: 13px;
    margin: 0;
    padding: 5px;
    height: 22px;
    line-height: 23px; }
  .pro-bet .group {
    margin-bottom: 5px !important; }
  .pro-bet .ul-list {
    font-size: 0; }
    .pro-bet .ul-list li {
      display: inline-block;
      font-size: 13px;
      margin-left: 9px; }
      .pro-bet .ul-list li:first-child {
        margin-left: 0; }
  .pro-bet .btc-display {
    font-size: 13px;
    font-weight: bold; }
  .pro-bet .chart-general {
    margin-top: 20px;
    text-align: center; }
    .pro-bet .chart-general .general-list {
      display: inline;
      vertical-align: bottom;
      font-size: 0; }
      .pro-bet .chart-general .general-list .general-item {
        display: inline-block;
        width: 13px;
        position: relative; }
        .pro-bet .chart-general .general-list .general-item.first-child {
          margin-left: 0; }
        .pro-bet .chart-general .general-list .general-item.lose-item {
          background: #f9c9ce;
          border: 1px solid #df9da4; }
        .pro-bet .chart-general .general-list .general-item.win-item {
          background: #cbeadb;
          border: 1px solid #a7dbc2; }
        .pro-bet .chart-general .general-list .general-item span {
          display: block;
          position: absolute;
          top: -16px;
          font-weight: bold;
          font-size: 10px;
          text-align: center;
          left: -1px;
          right: -1px; }
  .pro-bet .tools-info {
    height: 48px;
    position: relative; }
    .pro-bet .tools-info .marquee-area {
      height: 24px;
      line-height: 24px;
      font-size: 14px;
      color: #000; }
      .pro-bet .tools-info .marquee-area .tool-name {
        color: #ed6454;
        font-weight: bold !important;
        font-size: 14px !important; }
      .pro-bet .tools-info .marquee-area .author {
        color: #e29812;
        font-weight: bold !important;
        font-size: 14px !important; }
    .pro-bet .tools-info .hot-line {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 24px;
      line-height: 30px !important;
      color: #ed6454;
      font-weight: bold !important;
      font-size: 16px !important; }
    .pro-bet .tools-info .version {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 24px;
      line-height: 30px !important;
      color: #13637b;
      font-weight: bold !important;
      font-size: 11px !important; }

