$red-color: #ed6454 ;
#double_your_btc_main_container {
    position: relative;
    .back-drop {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

button:hover, button:focus, .button:hover, .button:focus {
    color: white;
    outline: none;
}
button[disabled]:hover {
    cursor: not-allowed;
    opacity: .5;
}
input:focus, textarea:focus, select:focus {
    outline: none;
}

    .clear {
        clear: both;
    }

    body {
        min-height: 800px;
    }

    .pro-bet-btc {
        background: #ff0 !important;
        color: #000 !important;
    }

    .red-color {
        color: $red-color;
        font-weight: bold !important;
    }

    .green-color {
        color: #008000;
        font-weight: bold !important;
    }

.pro-bet {
    position: fixed;
    right: 0;
    top: 55px;
    left: 0;
    width: 870px;
    margin: 0 auto;
    background: #fff;
    min-height: 200px;
    padding: 5px;
    z-index: 100;
    color: #000;
    box-shadow: 0px 1px 15px #555;

    * {
        margin-bottom: 0 !important;
        list-style: none;
    }

    .close {
        position: absolute;
        top: 0;
        right: -42px;
        width: 40px;
    }

    .setting-content {
        position: relative;
        border-bottom: 1px solid #aaa;
    }

    .controls {
        button {
            line-height: 43px;
        }
    }

    .game-mode {
        height: 30px;
        margin-bottom: 5px !important;

        .game-mode-list {
            font-size: 0;
            display: inline-block;

            .mode-item {
                display: inline-block;
                line-height: 30px;
                position: relative;
                background: #ddd;
                border-top: 3px solid #aaa;
                border-top-right-radius: 3px;
                border-top-left-radius: 3px;
                margin-left: 1px;

                &.disabled {
                    a {
                        &:hover {
                            cursor: not-allowed;
                        }
                    }
                }

                &:first-child {
                    margin-left: 0;
                }

                &.active {
                    border-top-color: #0079c1;
                    background: #f5f5f5;
                }

                a {
                    display: block;
                    font-size: 12px;
                    padding: 0 30px;
                    font-weight: bold;
                    color: #666;
                }
            }
        }
    }

    .setting-list {
        background: #f6f6f6;
        padding: 5px;
        margin-bottom: 5px !important;

        .setting-item {
            display: inline-block;
            margin-left: 45px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .payout-setting {
        .payout-button {
            overflow: hidden;
            &:hover, &.active, &.active:hover {
                &::before {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 50%;
                    width: 8px;
                    height: 8px;
                    background: #fff;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    margin-left: -3px;
                }
            }
        }
    }

    .no-payout {
        float: left;
        color: #f00;
    }

    .button-item {
        display: inline-block;
        width: 50px;
        margin-left: 5px;
        vertical-align: top;
        position: relative;

        .delete-payout {
            position: absolute;
            top: 0;
            right: 0;
            width: 15px;
            height: 15px;
            background: #2ba6cb;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            line-height: 13px;
            padding: 0;
            text-align: center;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    .new-payout {
        position: absolute;
        top: 0;
        right: 18px;
        width: 50px;
        height: 19px;

        select {
            vertical-align: top;
        }
    }

    .right-content {
        position: relative;
        margin-top: 5px;

        .content-head {
            background: #ddd;
            margin-bottom: 5px !important;
            height: 20px;

            .line-item {
                font-weight: bold;
            }
        }

        .line-item {
            float: left;
            font-size: 14px;
            line-height: 20px;
            height: 20px;
            font-weight: normal;
            text-align: right;
            width: 100px;
            border-left: 2px solid #fff;
            padding: 0 5px;
        }

        .bet-number {
            width: 23px;
            background: #607d8b;
            color: #fff;
            font-size: 12px;
            text-align: center;
            line-height: 20px;
            height: 20px;
        }

        .btc-bet {
            color: $red-color;
        }

        .btc-win {
            color: #008000;
        }

        .btc-total-win {
            color: #008000;
        }

        .timeline-list {
            max-height: 193px;
            overflow: auto;

            li {
                position: relative;
                margin-top: 3px !important;
                background: #eee;
                height: 20px;

                &:first-child {
                    margin-top: 0 !important;
                }

                &.unknown-list {
                    height: auto !important;
                    text-align: center;
                    border: 1px solid #ccc;
                    margin-top: 10px !important;
                }

                &.active {
                    .bet-number {
                        font-weight: bold;
                        background: $red-color;
                    }

                    .btc-bet,
                    .btc-win {
                        opacity: 1;
                    }
                    /*& + li {
                        .btc-bet,
                        .btc-win {
                            opacity: .8;
                            font-size: 14px;
                            font-weight: bold;
                        }

                        & + li {
                            .btc-bet,
                            .btc-win {
                                opacity: .9;
                                font-size: 13px;
                            }
                        }
                    }*/
                }
            }
        }
    }

    .row {
        margin-left: -3px !important;
        margin-right: -3px !important;
        width: auto !important;

        .column,
        .columns {
            padding-left: 3px !important;
            padding-right: 3px !important;
        }
    }

    fieldset {
        background: #fff;
        min-width: 0;
        padding: 5px 5px 0 5px;
        margin: 0 0 5px 0 !important;
        border: 1px solid #aaa;
        border-radius: 3px;

        legend {
            font-weight: bold;
            padding: 0px;
            margin: 0;
            margin-left: 5px;
            font-size: 14px;
        }
    }

    label {
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        cursor: default;

        &.title {
            font-weight: bold;
            margin-bottom: 5px !important;
            display: block;
        }
    }

    span {
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
    }

    button {
        width: 100%;
        padding: 0;
        min-height: 35px;
        color: #ccc;
        font-size: 12px;
        text-align: center;
        line-height: 35px;
        font-weight: bold;
        background: #3c4f63;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
        border-radius: 3px;

        &:hover, &.active, &.active:hover {
            background: $red-color;
            opacity: 1;
            color: #fff;
        }
    }

    li.button-item.control-button {
        width: 17px;
        float: right;

        button {
            height: 17px;
            line-height: 17px;
            min-height: 0;
            display: block;
            margin-top: 1px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea {
        font-size: 13px;
        margin: 0;
        padding: 5px;
        height: 22px;
        line-height: 23px;
    }

    .group {
        margin-bottom: 5px !important;
    }

    .ul-list {
        font-size: 0;

        li {
            display: inline-block;
            font-size: 13px;
            margin-left: 9px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .btc-display {
        font-size: 13px;
        font-weight: bold;
    }

    .chart-general {
        margin-top: 20px;
        text-align: center;

        .general-list {
            display: inline;
            vertical-align: bottom;
            font-size: 0;

            .general-item {
                display: inline-block;
                width: 13px;
                position: relative;

                &.first-child {
                    margin-left: 0;
                }

                &.lose-item {
                    background: #f9c9ce;
                    border: 1px solid #df9da4;
                }

                &.win-item {
                    background: #cbeadb;
                    border: 1px solid #a7dbc2;
                }

                span {
                    display: block;
                    position: absolute;
                    top: -16px;
                    font-weight: bold;
                    font-size: 10px;
                    text-align: center;
                    left: -1px;
                    right: -1px;
                }
            }
        }
    }

    .tools-info {
        height: 48px;
        position: relative;

        .marquee-area {
            height: 24px;
            line-height: 24px;
            font-size: 14px;
            color: #000;

            .tool-name {
                color: $red-color;
                font-weight: bold !important;
                font-size: 14px !important;
            }

            .author {
                color: #e29812;
                font-weight: bold !important;
                font-size: 14px !important;
            }
        }

        .hot-line {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 24px;
            line-height: 30px !important;
            color: $red-color;
            font-weight: bold !important;
            font-size: 16px !important;
        }

        .version {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 24px;
            line-height: 30px !important;
            color: #13637b;
            font-weight: bold !important;
            font-size: 11px !important;
        }
    }
}