<div class="pro-bet" ng-show="betOnline">
    <button type="button" class="close">X</button>
    <div class="setting-content">
        <div class="game-mode">
            <ul class="game-mode-list">
                <li class="mode-item active"><a>Bet cơ bản</a></li>
                <li class="mode-item disabled"><a>Bet Pro</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="main-content">
            <ul class="setting-list">
                <li class="setting-item">
                    <div class="group">
                        <label class="title">Cược ban đầu</label>
                        <select ng-options="type.value as type.value for type in btcBases" ng-model="userSetting.BtcBetBase" ng-disabled="onBetting" ng-change="updateBetList()"></select>
                    </div>
                </li>
                <li class="setting-item">
                    <div class="group">
                        <label class="title">Kiểu BET</label>
                        <ul class="modes-list ul-list">
                            <li ng-repeat="item in betModes">
                                <label>
                                    <input type="radio" name="betModeOption" ng-model="userSetting.BetMode" ng-value="item.value">{{item.name}}
                                </label>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="setting-item">
                    <div class="group">
                        <label class="title">Tốc độ BET</label>
                        <ul class="speed-list ul-list">
                            <li ng-repeat="item in betSpeeds">
                                <label>
                                    <input type="radio" name="betSpeedOption" ng-model="$parent.betSpeed" ng-value="item.value" ng-disabled="betSpeedAuto" />{{item.name}}
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" ng-model="betSpeedAuto" />Auto
                                </label>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
            <div class="row">
                <div class="large-7 small-7 columns">
                    <fieldset>
                        <legend>Cài đặt payout</legend>
                        <div class="group">
                            <ul class="button-list">
                                <li ng-repeat="item in payouts" class="button-item">
                                    <button ng-click="changePayout(item)" ng-class="{'active': userSetting.Payout === item}" ng-disabled="userSetting.Payout === item || onBetting">{{item}}</button>
                                    <a class="delete-payout" ng-click="deletePayout(item)" ng-if="enableDeletePayoutMode" href="#">x</a>
                                </li>
                                <li class="button-item control-button">
                                    <button ng-click="addPayout(enableAddNewPayout)" ng-disabled="onBetting">{{enableAddNewPayout === true?"-":"+"}}</button>
                                    <button ng-click="deletePayoutMode()" ng-disabled="disableDeletePayout === false || enableDeletePayoutMode === true || onBetting">x</button>
                                    <div class="new-payout" ng-show="enableAddNewPayout === true && enableDeletePayoutMode === false">
                                        <select ng-model="addNewPayoutModel" ng-change="savePayout(addNewPayoutModel)">
                                            <option ng-repeat="item in allPayouts" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="large-7 small-7 columns">
                            <fieldset>
                                <legend>Tùy chọn bet cơ bản</legend>
                                <div class="row">
                                    <div class="large-3 small-3 columns">
                                        <div class="group">
                                            <label class="title">Chuỗi rà</label>
                                            <select style="max-width: 50px; display: inline;" ng-options="type.value as type.value for type in betProbes" ng-model="userSetting.BetProbe"
                                                    ng-disabled="onBetting" ng-change="updateBetList();"></select>
                                        </div>
                                    </div>
                                    <!--<div class="large-4 small-4 columns">
                                        <div class="group">
                                            <label class="title">Điểm cược</label>
                                            <select style="max-width: 50px; display: inline;" ng-options="type.value as type.value for type in betPlacings" ng-model="betPlacing"
                                                    ng-disabled="onBetting" ng-change="updateBetList();"></select>
                                        </div>
                                    </div>-->
                                    <div class="large-5 small-5 columns">
                                        <div class="group">
                                            <label class="title">Cược sau rà</label>
                                            <select style="max-width: 97px; display: inline;" ng-options="type.value as type.value for type in btcPlusList" ng-model="userSetting.BtcPlus" ng-disabled="onBetting" ng-change="updateBetList(false)"></select>
                                        </div>
                                    </div>
                                    <div class="large-3 small-3 columns">
                                        <div class="group">
                                            <label class="title">Tăng %</label>
                                            <select style="max-width: 50px; display: inline;" ng-options="type.value as type.value for type in percentIncreases" ng-model="userSetting.PercentIncrease"
                                                    ng-disabled="onBetting" ng-change="updateBetList(false)"></select>
                                            <span>%</span>
                                        </div>
                                    </div>
                                    <div class="large-5 small-5 columns">
                                        <div class="group">
                                            <label class="title">Tăng % khi</label>
                                            <span>thua</span>
                                            <select style="max-width: 40px; display: inline;" ng-options="type.value as type.value for type in increaseWhenLosts" ng-model="userSetting.IncreaseWhenLost"
                                                    ng-disabled="onBetting" ng-change="updateBetList()"></select>
                                            <span>lần</span>
                                        </div>
                                    </div>
                                    <div class="large-6 small-6 columns">
                                        <div class="group">
                                            <label class="title">Cược lại sau khi</label>
                                            <span>thua</span>
                                            <select style="max-width: 39px; display: inline;" ng-options="type.index as type.index for type in betList" ng-model="betLoseAllowed"
                                                    ng-disabled="onBetting" ng-change="updateBetList()"></select>
                                            <span> lần cược</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="large-5 small-5 columns">
                            <fieldset style="min-height: 112px;">
                                <legend>Thống kê:</legend>
                                <div class="row">
                                    <div class="large-6 small-6 columns">
                                        <div class="group">
                                            <label class="title">Trước:</label>
                                            <div class="btc-display red-color">{{btcBefore}}</div>
                                        </div>
                                    </div>
                                    <div class="large-6 small-6 columns">
                                        <div class="group">
                                            <label class="title">Sau:</label>
                                            <div id="btcAfter" class="btc-display green-color">{{btcAfter}}</div>
                                        </div>
                                    </div>
                                    <div class="large-6 small-6 columns">
                                        <div class="group">
                                            <label class="title">Lợi nhuận:</label>
                                            <div class="btc-display {{btcIncrement >= 0?'green-color':'red-color'}}">{{btcIncrement}}</div>
                                        </div>
                                    </div>
                                    <div class="large-6 small-6 columns">
                                        <div class="group">
                                            <label class="title">Số lần Bet:</label>
                                            <div class="btc-display red-color">{{betCount}}</div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <!--<fieldset style="min-height: 104px;">
                                <legend>Tạm dừng</legend>
                                <div class="group">
                                    <label class="title">Sau khi ăn</label>
                                    <input type="checkbox" name="pauseOnWin" ng-model="pauseOnWin" />
                                    <span>Dừng</span>
                                </div>
                                <div class="group">
                                    <label class="title">Sau khi bet</label>
                                    <select style="display: inline-block; width: 65px;" ng-options="type.value as type.value for type in betTargetList" ng-model="betTarget"></select>
                                    <span>lần</span>
                                </div>
                            </fieldset>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-10 small-10 columns">
                            <div class="tools-info">
                                <div class="marquee-area" ng-if="toolActive === true">
                                    <marquee onMouseOver="this.stop()" onMouseOut="this.start()">
                                        Bản
                                        <span class="tool-name">ProBET</span> này được phát triển bởi nhóm
                                        <a target="_blank" href="https://www.facebook.com/groups/142471483081439/" class="author">Coin Free</a>
                                        </span> - Mọi thắc mắc hoặc cần hỗ trợ, các bạn vui lòng liên hệ theo HOTLINE ở dưới - Chúc các bạn chơi vui vẻ!
                                    </marquee>
                                </div>
                                <div class="active-account" ng-if="toolActive === false">
                                    <label class="red-color center">Tool chưa kích hoạt, vui lòng liên hệ hotline để được hỗ trợ</label>
                                </div>
                                <label class="hot-line">HOTLINE: 0989.468.567 - 0961.179.678</label>
                                <label class="version">Phiên bản: 1.2.1</label>
                            </div>
                        </div>
                        <div class="large-2 small-2 columns controls">
                            <button ng-disabled="toolActive === false" ng-click="startBet(onBetting)" class="bet-start">{{onBetting === true?"Tạm dừng":"Bắt đầu"}}</button>
                        </div>
                    </div>
                </div>
                <div class="large-5 small-5 columns right-content">
                    <div class="content-head">
                        <div class="line-item bet-number">#</div>
                        <div class="line-item btc-bet">Cược</div>
                        <div class="line-item btc-win">Ăn</div>
                        <div class="line-item btc-total-win">Lời</div>
                    </div>
                    <ul class="timeline-list">
                        <li ng-if="betList" ng-repeat="item in betList" id="line{{item.index}}" ng-class="{'active': item.index == betItemIndex}">
                            <div class="line-item bet-number">{{item.index}}</div>
                            <div class="line-item btc-bet">{{item.btcBet}}</div>
                            <div class="line-item btc-win">{{item.btcWin}}</div>
                            <div class="line-item btc-total-win">{{item.btcInterest}}</div>
                        </li>
                        <li class="unknown-list" ng-if="betList.length == 0">
                            <span>Không xác định được chuỗi Bet</span>
                        </li>
                    </ul>
                    <!--<fieldset style="min-height: 110px;">
                        <legend>Phân tích</legend>
                        <div class="group">
                            <label class="title">
                                Chuỗi an toàn:
                                <span class="red-color">{{betAllowed.index}}</span>
                                (<span class="green-color">{{betAllowed.btcBet}}</span>)
                            </label>
                        </div>
                        <div class="group">
                            <label class="title">
                                Cược lớn nhất:
                                <span class="red-color">{{betMaxLoseAllowed}}</span>
                                (<span class="red-color">{{btcMaxLoseAllowed}}</span>)
                            </label>
                        </div>
                        <div class="group">
                            <label class="title">Cược lại sau khi thua: {{betLoseAllowed}} lần cược</label>
                            <span>
                                <span class="red-color">{{btcLoseAllowed}}</span>
                                (<span class="green-color"> còn lại {{btcRemain}}</span>)
                            </span>
                        </div>
                    </fieldset>-->
                </div>
            </div>
        </div>
    </div>
    <div class="chart-general" ng-if="generalList.length > 0">
        <ul class="general-list" style="height: {{betMaxLose * (payout === 10 ? 1 : 5) + 10}}px;">
            <li class="general-item lose-item" style="height: {{betMaxLose * (payout === 10 ? 1 : 5)}}px;">
                <span>{{betMaxLose}}</span>
            </li>
            <li ng-repeat="item in generalList" class="general-item {{item.style}}" style="height: {{item.value * (payout === 10 ? 1 : 5)}}px;">
                <span>{{item.value}}</span>
            </li>
        </ul>
    </div>
</div>
<div style="position: absolute; top: 0; right: 0;">
    <div class="row manual_bet_element" style="margin:0; padding:0;">
        <ul class="manual_bet_hi_lo_ul">
            <center>
                <li id="bet_hi_button" class="bet_hi_button_remove">
                    <button ng-click="requestBet()" ng-disabled="disabledButton" id="double_your_btc_bet_hi_button">BET HI</button>
                </li>
                <li id="bet_lo_button" class="bet_lo_button_remove">
                    <button ng-click="requestBet()" ng-disabled="disabledButton" id="double_your_btc_bet_lo_button">BET LO</button>
                </li>
            </center>
        </ul>
    </div>
    <div class="balanceli">
        <span id="balance" ng-value="balance">0.00549482</span> BTC
    </div>
</div>